* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  background-color: transparent;
  border: solid 1px whitesmoke;
  line-height: 1.5em;
  color: whitesmoke;
}
a {
  color: whitesmoke;
}
/*水平翻转*/
body {
  background-color: #1e1e1e;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HYWenHei 85W", "黑体", sans-serif;
}
.keyboardDown {
  transform: translateY(10px);
}
.keyDown {
  transform: scale(0.9);
  background-color: gray !important;
}
body h1 {
  text-align: center;
  line-height: 2em;
  color: #9cdcfe;
  font-size: 40px;
  font-family: "JetBrains Mono", "Fira Mono", "Fira Code", sans-serif;
}
body main {
  width: 90%;
  margin: 0 auto;
  outline: solid 1px;
  padding-top: 20px;
  padding-bottom: 200px;
}
body main .allKey {
  width: 980px;
  height: 500px;
  margin: 10px auto;
  outline: solid 1px;
  position: relative;
}
body main .allKey .whiteKey {
  width: 20px;
  height: 120px;
  position: absolute;
  outline: solid 1px dimgray;
  background-color: lightgray;
  transition: all 0.2s;
  top: 200px;
}
body main .allKey .blackKey {
  width: 15px;
  height: 72px;
  position: absolute;
  margin-left: -7.5px;
  outline: solid 1px dimgray;
  background-color: #222;
  box-shadow: black -5px -2px 0 inset;
  transition: all 0.2s;
  top: 200px;
}
body main .allKey .leftHand,
body main .allKey .rightHand {
  position: absolute;
  transition: all 0.2s;
  z-index: 200;
}
body main .allKey .leftHand .keyboardBlock,
body main .allKey .rightHand .keyboardBlock {
  width: 20px;
  float: left;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  outline: solid 1px royalblue;
  color: #fff;
  background-color: #999;
  border-radius: 20px;
  font-family: "JetBrains Mono", "Fira Mono", "Fira Code", sans-serif;
  transition: all 0.2s;
}
body main .allKey .leftHand .L1,
body main .allKey .rightHand .L1,
body main .allKey .leftHand .L2,
body main .allKey .rightHand .L2,
body main .allKey .leftHand .L8,
body main .allKey .rightHand .L8,
body main .allKey .leftHand .L9,
body main .allKey .rightHand .L9,
body main .allKey .leftHand .R8,
body main .allKey .rightHand .R8,
body main .allKey .leftHand .R9,
body main .allKey .rightHand .R9 {
  margin-top: 5px;
}
body main .allKey .leftHand .R3,
body main .allKey .rightHand .R3 {
  margin-top: 15px;
}
body main .allKey .leftHand .R1,
body main .allKey .rightHand .R1,
body main .allKey .leftHand .R2,
body main .allKey .rightHand .R2 {
  margin-top: 18px;
}
body main .allKey .leftHand {
  top: 360px;
  left: 280px;
}
body main .allKey .rightHand {
  left: 380px;
  top: 280px;
}
* {
  color: greenyellow;
}
.settings {
  width: 90%;
  height: 600px;
  outline: solid 1px;
  margin: 0 auto;
  position: relative;
}
.settings select {
  background-color: black;
  color: greenyellow;
}
.settings input {
  font-family: "JetBrains Mono", "Fira Mono", "Fira Code", sans-serif;
}
.settings #keys_twohands .leftHand,
.settings #keys_twohands .rightHand {
  position: absolute;
  width: 500px;
  height: 500px;
  outline: solid 1px;
}
.settings #keys_twohands .leftHand .handImg,
.settings #keys_twohands .rightHand .handImg {
  position: absolute;
  outline: solid 1px;
  width: 350px;
  height: 350px;
  top: 60px;
  z-index: -5;
}
.settings #keys_twohands .fingerKeyInput {
  width: 50px;
  display: block;
  font-size: 20px;
  text-indent: 0.5em;
  position: absolute;
  transition: all 0.2s;
  background-color: black;
}
.settings #keys_twohands .fingerKeyInput:hover {
  background-color: #2b2b2b;
}
.settings #keys_twohands .leftHand .handImg {
  left: 40px;
}
.settings #keys_twohands .leftHand .lshift {
  left: 26px;
  top: 307px;
}
.settings #keys_twohands .leftHand .rshift {
  left: 313px;
  top: 302px;
}
.settings #keys_twohands .leftHand .f1 {
  left: 0;
  top: 142px;
}
.settings #keys_twohands .leftHand .f2 {
  left: 39px;
  top: 103px;
}
.settings #keys_twohands .leftHand .f3 {
  left: 98px;
  top: 82px;
}
.settings #keys_twohands .leftHand .f4 {
  left: 152px;
  top: 49px;
}
.settings #keys_twohands .leftHand .f5 {
  left: 209px;
  top: 38px;
}
.settings #keys_twohands .leftHand .f6 {
  left: 274px;
  top: 70px;
}
.settings #keys_twohands .leftHand .f7 {
  left: 317px;
  top: 169px;
}
.settings #keys_twohands .leftHand .f8 {
  left: 365px;
  top: 184px;
}
.settings #keys_twohands .leftHand .f9 {
  left: 417px;
  top: 187px;
}
.settings #keys_twohands .rightHand {
  position: absolute;
  right: 0;
}
.settings #keys_twohands .rightHand .fingerKeyInput {
  width: 50px;
  display: block;
  font-size: 20px;
}
.settings #keys_twohands .rightHand .handImg {
  right: 40px;
}
.settings #keys_twohands .rightHand .lshift {
  left: 97px;
  top: 321px;
}
.settings #keys_twohands .rightHand .rshift {
  left: 425px;
  top: 313px;
}
.settings #keys_twohands .rightHand .f1 {
  left: 26px;
  top: 199px;
}
.settings #keys_twohands .rightHand .f2 {
  left: 85px;
  top: 165px;
}
.settings #keys_twohands .rightHand .f3 {
  left: 139px;
  top: 162px;
}
.settings #keys_twohands .rightHand .f4 {
  left: 181px;
  top: 66px;
}
.settings #keys_twohands .rightHand .f5 {
  left: 239px;
  top: 37px;
}
.settings #keys_twohands .rightHand .f6 {
  left: 296px;
  top: 43px;
}
.settings #keys_twohands .rightHand .f7 {
  left: 347px;
  top: 69px;
}
.settings #keys_twohands .rightHand .f8 {
  left: 396px;
  top: 72px;
}
.settings #keys_twohands .rightHand .f9 {
  left: 445px;
  top: 73px;
}
.settings #keys_genshin {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.settings #keys_genshin .line {
  display: flex;
  margin: 1em 0;
}
.settings #keys_genshin .line .key {
  width: 5em;
  height: 5em;
  background-color: #eee;
  color: #000;
  margin: 0 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
/*# sourceMappingURL=piano.css.map */