@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #1e1e1e;
  color: white;

  h1 {
    text-align: center;
    line-height: 2em;
    color: #9cdcfe;
    font-size: 40px;
    .MyFont();

  }

  main {
    width: 90%;
    margin: 0 auto;
    outline: solid 1px;
    padding-top: 20px;
    padding-bottom: 200px;

    .area {
      @areaWidth: 600px;
      @whiteKeyWidth: 50px;

      .pianoKeyBoard {
        outline: solid 1px;
        height: 200px;
        position: relative;
        width: @areaWidth;
        background-color: wheat;
        margin: 0 auto;

        .pianoWhiteKey {
          position: absolute;
          height: 100%;
          width: @whiteKeyWidth;
          outline: solid 1px;
          background-color: lightgray;

          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          //transform-origin: top center;
          transition: all 0.2s;
        }

        .pianoBlackKey {
          @blackWidth: @whiteKeyWidth*0.8;
          position: absolute;
          height: 70%;
          top: 0;
          width: @blackWidth;
          outline: solid 1px;
          background-color: #222;

          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          box-shadow: black -5px -2px 0 inset;
          transition: all 0.2s;
        }

        .keyDown {
          transform: scale(0.9);
          background-color: gray;
        }
      }

      .keyboard {
        width: @areaWidth;
        height: 100px;
        outline: solid 1px;
        margin: 10px auto;

        .keyboardBlock {
          width: @whiteKeyWidth;
          float: left;
          text-align: center;
          font-size: 26px;
          line-height: 2em;
          outline: solid 1px;
          .EngFont();

          transition: all 0.2s;
        }

        .keyboardDown {
          transform: translateY(10px);
        }
      }
    }

  }
}
